{% extends '/layouts/base.html.twig' %}

{% block title %}Pinterest{% endblock %}

{% block body %}
    {# <style> #}
    {#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    {#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
    {# </style> #}

    {# <div class="example-wrapper"> #}
    {#    <h1>Hello {{ controller_name }}! ✅</h1> #}

    {#    This friendly message is coming from: #}
    {#    <ul> #}
    {#        <li>Your controller at <code><a href="{{ 'C:/Users/pauli/Desktop/symfony_tuto/pinterest/src/Controller/PinsController.php'|file_link(0) }}">src/Controller/PinsController.php</a></code></li> #}
    {#        <li>Your template at <code><a href="{{ 'C:/Users/pauli/Desktop/symfony_tuto/pinterest/templates/pins/index.html.twig'|file_link(0) }}">templates/pins/index.html.twig</a></code></li> #}
    {#    </ul> #}
    {# </div> #}

    <h1> {{ pluralize(pins|length, 'Pin') }}</h1>
    <div class="row">
        {% for pin in pins %}

            <div class="col-md-4">

                <article class="shadow rounded w-auto">
                    {% if pin.imageName %}
                        <img class="m-auto" src="{{ vich_uploader_asset(pin) }}" alt="{{ pin.title }}"/>
                    {% else %}
                        <div class="image-placeholder"></div>
                    {% endif %}
                    <h2>
                        <a href={{ path("app_pins_show", {id : pin.id}) }}>
                            {{ pin.title }}
                        </a>
                    </h2>
                    <p>{{ pin.description }}</p>
                    <p>Submited {{ pin.createdAt | ago }}</p>
                </article>
            </div>
        {% endfor %}
    </div>

{% endblock %}
